<body style="padding: 0px; margin: 0px;">
	<!-- <body  > -->
	<div 
		style="width: 1280px; height: 800px; border: 0px solid; position: relative;">
			
		
		<div  href="#PdfArea" style="left: 0px; top:0px; width: 1280px; height: 650px; border: 0px solid; background-color: DarkGray; border-color: white; position: absolute;"></div>	
<div  style="left: 0px; top:650px; width: 1280px; height: 150px; border: 0px solid; background-color: yellow; border-color: white; position: absolute;"></div>
		<div href="#ButtonOK"
			style="left: 450px; top:687px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('Ok.png'); border-color: black; position: absolute;"></div>
		<div href="#ButtonRetry"
			style="left: 725px; top:687px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('Retry.png'); border-color: black; position: absolute;"></div>
		<div href="#ButtonCancel"
			style="left: 1008px; top:687px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('Cancel.png'); border-color: black; position: absolute;"></div>
		<!-- div href="#ButtonOK"
			style="left: 725px; top:687px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('Ok.png'); border-color: black; position: absolute;"></div>
		<div href="#ButtonRetry"
			style="left: 1008px; top:687px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('Retry.png'); border-color: black; position: absolute;"></div-->
		<!-- div href="#ButtonCancel"
			style="left: 1008px; top:687px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('Cancel.png'); border-color: black; position: absolute;"></div-->
		
	</div>
</body>