<body style="padding: 0px; margin: 0px;">
	<!-- <body  > -->
	<div 
		style="width: 1280px; height: 800px; border: 0px solid; position: relative;">
		
		
		
		<div  href="#PdfArea" style="left: 0px; top:0px; width: 1000px; height: 800px; border: 0px solid; background-color: DarkGray; border-color: white; position: absolute;"></div>	
<div  style="left: 1000px; top:0px; width: 280px; height: 800px; border: 0px solid; background-color: yellow; border-color: white; position: absolute;"></div>
		<div href="#ButtonAirMode"
			style="left: 1030px; top:300px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('view_doc2.png'); border-color: black; position: absolute;"></div>
		<div href="#ButtonPrev"
			style="left: 1030px; top:400px; width: 100px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('precedente.png'); border-color: black; position: absolute;"></div>
		<div href="#ButtonNext"
			style="left: 1140px; top:400px; width: 100px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('prossimo.png'); border-color: black; position: absolute;"></div>
		<div href="#Pages"
			style="left: 1083px; top:480px; width: 100px; height: 15px; border: 0px solid;  position: absolute;"></div>			
		<div href="#ButtonOK"
			style="left: 1030px; top:500px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('ok2.png'); border-color: black; position: absolute;"></div>			
		<div href="#ButtonRetry"
			style="left: 1030px; top:600px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('retry2.png'); border-color: black; position: absolute;"></div>
		<div href="#ButtonCancel"
			style="left: 1030px; top:700px; width: 220px; height: 75px; border: 0px solid; background-size: 100% 100%; background-image:url('Cancel.png'); border-color: black; position: absolute;"></div>

		
	</div>
	<div  style="left: 1000px; top:100px; width: 28px; height: 150px; border: 0px solid; background-color: yellow; border-color: white; position: absolute;"><table style="width: 280px; text-align: center; font-family: sans-serif;font-size: 20px;" >
		<tr>
		<td>Descrizione</td>
		</tr><tr>
		<td>$description$</td>
		</tr>
		</table></div>	
</body>